body{
    color:rgb(35, 114, 216);
    background-color: rgba(54, 54, 54, 0.574);
}
.test{
    width: 250px;
    height: auto;
    border: 5px;
    border-color:red;
    border-style: outset;
    float:left;
}
.test1{
    width: 50px;
    border: 5px;
    border-color:red;
    border-style: outset;
    float:left;
    
}