body {
    color: rgb(255, 255, 255);
    background: #fff;
    font: 100% system-ui;
  }
  a {
    color: #0033cc;
  }
  
  @media (prefers-color-scheme: dark) {
    body {
      color: rgb(241, 0, 0);
      background: #121212;
    }
  
    body a {
      color: #809fff;
    }
  }
.test{
    width: 250px;
    height: auto;
    border: 5px;
    border-color:red;
    border-style: outset;
    margin-left: auto;
    margin-right: auto;
    position:relative;
}
.test1{
    
    width: 50px;
    border: 5px;
    border-color:red;
    border-style: outset;
    margin-left: auto;
    margin-right: auto;

    
}